RewriteEngine On
RewriteRule ^io$ /~rhowell/DataStructures/io/ [R=302]
RewriteRule ^strings$ /~rhowell/DataStructures/strings/ [R=302]
RewriteRule ^stacks-queues$ /~rhowell/DataStructures/stacks-queues/ [R=302]
RewriteRule ^linked-lists$ /~rhowell/DataStructures/linked-lists/ [R=302]
RewriteRule ^test$ /~rhowell/DataStructures/syntax/enumerations.html#enum-defn [NE,R=302]
RewriteRule ^binary-search$ /~rhowell/DataStructures/dictionaries/binary-search.html [R=302]
RewriteRule ^trees$ /~rhowell/DataStructures/trees/ [R=302]
RewriteRule ^dictionaries$ /~rhowell/DataStructures/hashing/ [R=302]
RewriteRule ^graphs$ /~rhowell/DataStructures/graphs/ [R=302]
RewriteRule ^sorting$ /~rhowell/DataStructures/sorting/ [R=302]
RewriteRule ^syntax$ /~rhowell/DataStructures/syntax/ [R=302]
RewriteRule ^visual-studio$ /~rhowell/DataStructures/vs/ [R=302]
RewriteRule ^style$ /~rhowell/DataStructures/style/ [R=302]
RewriteRule ^dialogs$ /~rhowell/DataStructures/io/dialogs/ [R=302]
RewriteRule ^simple-text-file-io$ /~rhowell/DataStructures/io/simple-text-file.html [R=302]
RewriteRule ^exceptions$ /~rhowell/DataStructures/io/exceptions.html [R=302]
RewriteRule ^advanced-text-file-io$ /~rhowell/DataStructures/io/advanced-text-file.html [R=302]
RewriteRule ^other-file-io$ /~rhowell/DataStructures/io/other-file-io.html [R=302]
RewriteRule ^message-boxes$ /~rhowell/DataStructures/io/dialogs/message-boxes.html [R=302]
RewriteRule ^file-dialogs$ /~rhowell/DataStructures/io/dialogs/file-dialogs.html [R=302]
RewriteRule ^custom-dialogs$ /~rhowell/DataStructures/io/dialogs/custom.html [R=302]
RewriteRule ^static-this$ /~rhowell/DataStructures/syntax/static-this.html [R=302]
RewriteRule ^enumerations$ /~rhowell/DataStructures/syntax/enumerations.html [R=302]
RewriteRule ^reference-value$ /~rhowell/DataStructures/syntax/reference-value.html [R=302]
RewriteRule ^structs$ /~rhowell/DataStructures/syntax/structs.html [R=302]
RewriteRule ^decimals$ /~rhowell/DataStructures/syntax/decimals.html [R=302]
RewriteRule ^const$ /~rhowell/DataStructures/syntax/const.html [R=302]
RewriteRule ^properties$ /~rhowell/DataStructures/syntax/properties.html [R=302]
RewriteRule ^out-ref$ /~rhowell/DataStructures/syntax/out-ref.html [R=302]
RewriteRule ^foreach$ /~rhowell/DataStructures/syntax/foreach.html [R=302]
RewriteRule ^switch$ /~rhowell/DataStructures/syntax/switch.html [R=302]
RewriteRule ^remainder$ /~rhowell/DataStructures/syntax/remainder.html [R=302]
RewriteRule ^generic$ /~rhowell/DataStructures/stacks-queues/stacks.html#generic [NE,R=302]
RewriteRule ^interfaces$ /~rhowell/DataStructures/trees/tries/multiple-impl.html [R=302]
RewriteRule ^method-overriding$ /~rhowell/DataStructures/strings/stringbuilder-impl.html#overriding [NE,R=302]
RewriteRule ^operator-overloading$ /~rhowell/DataStructures/hashing/equality.html#operator-overloading [NE,R=302]
RewriteRule ^indexers$ /~rhowell/DataStructures/syntax/indexers.html [R=302]
RewriteRule ^using-statement$ /~rhowell/DataStructures/io/advanced-text-file.html#using [NE,R=302]
RewriteRule ^checked-unchecked$ /~rhowell/DataStructures/hashing/hash-functions.html#checked-unchecked [NE,R=302]
RewriteRule ^equality$ /~rhowell/DataStructures/hashing/equality.html [R=302]
RewriteRule ^casts$ /~rhowell/DataStructures/stacks-queues/stacks.html#cast [NE,R=302]
RewriteRule ^formatting$ /~rhowell/DataStructures/style/formatting.html [R=302]
RewriteRule ^access-modifiers$ /~rhowell/DataStructures/style/access-modifiers.html [R=302]
RewriteRule ^naming$ /~rhowell/DataStructures/style/naming.html [R=302]
RewriteRule ^comments$ /~rhowell/DataStructures/style/comments.html [R=302]
RewriteRule ^prohibited$ /~rhowell/DataStructures/style/prohibited.html [R=302]
RewriteRule ^new-project$ /~rhowell/DataStructures/vs/solutions.html [R=302]
RewriteRule ^design-window$ /~rhowell/DataStructures/vs/design-window.html [R=302]
RewriteRule ^code-window$ /~rhowell/DataStructures/vs/code-window.html [R=302]
RewriteRule ^debugger$ /~rhowell/DataStructures/vs/debugger.html [R=302]
RewriteRule ^version-control$ /~rhowell/DataStructures/vs/repos.html [R=302]
RewriteRule ^class-libraries$ /~rhowell/DataStructures/vs/class-libraries.html [R=302]
RewriteRule ^breakpoints$ /~rhowell/DataStructures/vs/debugger.html#breakpoints [NE,R=302]
RewriteRule ^string-desc$ /~rhowell/DataStructures/strings/strings.html [R=302]
RewriteRule ^stringbuilders$ /~rhowell/DataStructures/strings/stringbuilders.html [R=302]
RewriteRule ^stringbuilder-impl$ /~rhowell/DataStructures/strings/stringbuilder-impl.html [R=302]
RewriteRule ^stacks$ /~rhowell/DataStructures/stacks-queues/stacks.html [R=302]
RewriteRule ^undo-redo$ /~rhowell/DataStructures/stacks-queues/undo.html [R=302]
RewriteRule ^stack-impl$ /~rhowell/DataStructures/stacks-queues/stack-impl.html [R=302]
RewriteRule ^queues$ /~rhowell/DataStructures/stacks-queues/queues.html [R=302]
RewriteRule ^queue-impl$ /~rhowell/DataStructures/stacks-queues/queue-impl.html [R=302]
RewriteRule ^paren-matching$ /~rhowell/DataStructures/stacks-queues/paren.html [R=302]
RewriteRule ^string-example$ /~rhowell/DataStructures/strings/dotnettest/Ksu.Cis300.StringsAndStringBuilders.zip [R=302]
RewriteRule ^linked-list-intro$ /~rhowell/DataStructures/linked-lists/intro.html [R=302]
RewriteRule ^linked-list-stacks-queues$ /~rhowell/DataStructures/linked-lists/stacks-queues.html [R=302]
RewriteRule ^sieve-eratosthenes$ /~rhowell/DataStructures/linked-lists/sieve-eratosthenes.html [R=302]
RewriteRule ^linked-list-search$ /~rhowell/DataStructures/redirect/not-available.html [R=302]
RewriteRule ^linked-list-remove$ /~rhowell/DataStructures/redirect/not-available.html [R=302]
RewriteRule ^trees-intro$ /~rhowell/DataStructures/trees/intro.html [R=302]
RewriteRule ^binary-search-trees$ /~rhowell/DataStructures/trees/bst/ [R=302]
RewriteRule ^avl-trees$ /~rhowell/DataStructures/trees/avl.html [R=302]
RewriteRule ^tries$ /~rhowell/DataStructures/trees/tries [R=302]
RewriteRule ^priority-queues$ /~rhowell/DataStructures/trees/priority-queues/ [R=302]
RewriteRule ^debugger-buttons$ /~rhowell/DataStructures/vs/debugger.html#buttons [NE,R=302]
RewriteRule ^bst-intro$ /~rhowell/DataStructures/trees/bst/intro.html [R=302]
RewriteRule ^binary-trees$ /~rhowell/DataStructures/trees/bst/binary-trees.html [R=302]
RewriteRule ^bst-remove$ /~rhowell/DataStructures/trees/bst/remove.html [R=302]
RewriteRule ^inorder-traversal$ /~rhowell/DataStructures/trees/bst/inorder.html [R=302]
RewriteRule ^tries-intro$ /~rhowell/DataStructures/trees/tries/intro.html [R=302]
RewriteRule ^tries-multiple-impl$ /~rhowell/DataStructures/trees/tries/multiple-impl.html [R=302]
RewriteRule ^traversing-tries$ /~rhowell/DataStructures/trees/tries/traversing.html [R=302]
RewriteRule ^word-games$ /~rhowell/DataStructures/trees/tries/word-games.html [R=302]
RewriteRule ^heaps$ /~rhowell/DataStructures/trees/priority-queues/heaps.html [R=302]
RewriteRule ^leftist-heaps$ /~rhowell/DataStructures/trees/priority-queues/leftist-heaps.html [R=302]
RewriteRule ^huffman-trees$ /~rhowell/DataStructures/trees/priority-queues/huffman-trees.html [R=302]
RewriteRule ^dictionary-class$ /~rhowell/DataStructures/dictionaries/dictionary-tkey-tvalue.html [R=302]
RewriteRule ^memoization$ /~rhowell/DataStructures/hashing/memoization.html [R=302]
RewriteRule ^hash-functions$ /~rhowell/DataStructures/hashing/hash-functions.html [R=302]
RewriteRule ^hash-table-impl$ /~rhowell/DataStructures/hashing/impl/ [R=302]
RewriteRule ^simple-hash-table-impl$ /~rhowell/DataStructures/hashing/impl/simple.html [R=302]
RewriteRule ^rehashing$ /~rhowell/DataStructures/hashing/impl/rehashing.html [R=302]
RewriteRule ^hash-table-enumerator$ /~rhowell/DataStructures/hashing/impl/enumerators.html [R=302]
RewriteRule ^explicit-impl$ /~rhowell/DataStructures/trees/tries/multiple-impl.html#explicit-impl [NE,R=302]
RewriteRule ^unmanaged-resources$ /~rhowell/DataStructures/io/advanced-text-file.html#unmanaged-resources [NE,R=302]
RewriteRule ^graph-intro$ /~rhowell/DataStructures/graphs/intro.html [R=302]
RewriteRule ^shortest-paths$ /~rhowell/DataStructures/graphs/dijkstra.html [R=302]
RewriteRule ^unweighted-shortest-paths$ /~rhowell/DataStructures/graphs/breadth-first.html [R=302]
RewriteRule ^graph-impl$ /~rhowell/DataStructures/graphs/impl.html [R=302]
RewriteRule ^select-sorts$ /~rhowell/DataStructures/sorting/select.html [R=302]
RewriteRule ^insert-sorts$ /~rhowell/DataStructures/sorting/insert.html [R=302]
RewriteRule ^merge-sorts$ /~rhowell/DataStructures/sorting/merge.html [R=302]
RewriteRule ^split-sorts$ /~rhowell/DataStructures/sorting/split.html [R=302]
RewriteRule ^sorting-strings$ /~rhowell/DataStructures/sorting/strings.html [R=302]
RewriteRule ^stable-sort$ /~rhowell/DataStructures/sorting/select.html#stable [NE,R=302]
RewriteRule ^bubble-sort$ /~rhowell/DataStructures/sorting/select.html#bubble-sort [NE,R=302]
RewriteRule ^heap-sort$ /~rhowell/DataStructures/sorting/select.html#heap-sort [NE,R=302]
RewriteRule ^tree-sort$ /~rhowell/DataStructures/sorting/insert.html#tree-sort [NE,R=302]
RewriteRule ^external-merge-sort$ /~rhowell/DataStructures/sorting/merge.html#external [NE,R=302]
RewriteRule ^where$ /~rhowell/DataStructures/linked-lists/dictionary-impl.html#where [NE,R=302]
RewriteRule ^recursion$ /~rhowell/DataStructures/trees/intro.html#recursion [NE,R=302]
RewriteRule ^hybrid-sorts$ /~rhowell/DataStructures/sorting/hybrid.html [R=302]
RewriteRule ^median-of-3$ /~rhowell/DataStructures/sorting/split.html#median-of-3 [NE,R=302]
RewriteRule ^source-control-setup$ /~rhowell/DataStructures/vs/git/setup.html [R=302]
RewriteRule ^using-source-control$ /~rhowell/DataStructures/vs/submitting.html [R=302]
RewriteRule ^troubleshooting-source-control$ /~rhowell/DataStructures/vs/source-control/troubleshooting.html [R=302]
RewriteRule ^multiple-machines$ /~rhowell/DataStructures/vs/multiple.html [R=302]
RewriteRule ^checkpointing$ /~rhowell/DataStructures/vs/checkpointing.html [R=302]
RewriteRule ^nunit$ /~rhowell/DataStructures/vs/nunit.html [R=302]
RewriteRule ^dictionary-linked-lists$ /~rhowell/DataStructures/dictionaries/linked-list-impl.html [R=302]
RewriteRule ^default-value$ /~rhowell/DataStructures/stacks-queues/stack-impl.html#default-value [NE,R=302]
RewriteRule ^dictionary-section$ /~rhowell/DataStructures/dictionaries/ [R=302]
RewriteRule ^enumerators$ /~rhowell/DataStructures/syntax/enumerators.html [R=302]
